<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre Login</title>
        <script src="/js/login.js" defer></script>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    </head>
    <body>

        <header>
    
            <img src="/images/logo-mercado-liebre.svg" alt="logo de la página">
            
            <input type="search" name="barra-de-busqueda" id="buscador" placeholder="Buscar productos, marcas">
            <i id="lupa" class="fas fa-search"></i>
        
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        
            <nav id="nav">
        
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
        
                <ul> 
                    <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                
            </nav>
                
            <div class="burger-menu">
                <i class="fas fa-bars" ></i>
            </div>
                
        </header>





        <form action="login" id="form_login">

            <input type="text" name="" placeholder="Nombre de usuario" >
            <input type="text" name="" placeholder="Elegí tu contraseña" >

            <button id="submit_btn" type="submit">Enviar</button>

        </form>





        
    <footer>

        <section >
    
            <article>
    
                <i class="fas fa-credit-card"></i>
                <h2>
                    Pagá con tarjeta o en efectivo
                </h2>
                <p>
                    Con mercado Liebre Cash, tnés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
        
            </article>
    
            <article>
    
                <i class="fas fa-gift"></i>
                <h2>
                    Envio gratis desde $ 2.500
                </h2>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés invios gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
    
            </article>
    
            <article>
    
                <i class="fas fa-user-shield"></i>
                <h2>
                    Seguridad, de principio a fin
                </h2>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,por que estás siempre protegid@.
                </p>
    
            </article>
    
                <p>
                    Copyright c 1999-2020 MercadoLiebre S.R.L.
                </p>
        </section>
        
    </footer>
</body>
</html>